<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chars.dao.IOrdersDao">
	<insert id="insertOrders" parameterType="com.chars.model.Orders">
		insert into Orders (id,
		houseId,
		houseUserId, userId, userName, state, unitPrice, startDate, stopDate,
		ordersDate)
		values (#{id}, #{houseId}, #{houseUserId}, #{userId}, #{userName},
		#{state},
		#{unitPrice},
		#{startDate}, #{stopDate}, #{ordersDate})
	</insert>
	<delete id="deleteOrders" parameterType="int">
		delete from Orders where
		id
		= #{id}
	</delete>
	<update id="updataOrders" parameterType="com.chars.model.Orders">
		update Orders
		set
		state =
		#{state}

		where id = #{id}
	</update>
	<select id="getOrdersbyUserId" parameterType="int"
		resultType="com.chars.model.Orders">
		select
		*
		from Orders where userId = #{userId}
	</select>
	<select id="getOrdersbyHouseUserId" parameterType="int"
		resultType="com.chars.model.Orders">
		select
		*
		from Orders where houseUserId = #{houseUserId}
	</select>
	<select id="getOrdersbyId" parameterType="int"
		resultType="com.chars.model.Orders">
		select
		*
		from Orders where id = #{id}
	</select>
	<select id="getCleanOrders" parameterType="String" resultType="com.chars.model.Orders">
		select
		*
		from Orders where stopDate &lt;  #{newDate} 
	</select>
</mapper>
